{% extends "base.html" %}

{% block content %}
    <form method="POST" action="/search">
        <link   rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-darkness/jquery-ui.min.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
        <select name="name">
            <option value="brutal restraint">Brutal Restraint</option>
            <option value="elegant hubris">Elegant Hubris</option>
            <option value="glorious vanity">Glorious Vanity</option>
            <option value="lethal pride">Lethal Pride</option>
            <option value="militant faith">Militant Faith</option>
        </select>
        <input type="text" name="seeds" placeholder="Seeds (comma separated)">
        <input type="text" name="socketIDs" placeholder="Socket IDs (comma separated)">
        <input type="number" name="latest" placeholder="Last n jewels"><br/><br/>
        <div id="affixes"></div><br/>
        <button id="add_affix" type="button">Add affix</button><br/><br/>
        <input type="submit" value="Search">
        <script type="text/javascript">
            let autocompleteList = null;
            async function loadJSON (url) {
                const res = await fetch(url);
                return await res.json();
            }
            function setAutocomplete() {
                $('input.affix').each(function() {
                    $(this).autocomplete({
                        source: autocompleteList,
                        minLength: 2
                    });
                });
            }
            $(document).ready(function(){
                loadJSON("../static/affixes.json").then(data => {
                    autocompleteList = data["affixes"];
                })
                var count_item = 0;
                $("#add_affix").on("click", function(){
                    count_item += 1;
                    $('<input type="text" id="autocomplete" placeholder="Affix name" class="affix" autocomplete="off" name="affixes">&nbsp;</input>').appendTo("#affixes");
                    $('<input type="number" placeholder="Minimum threshold" name="thresholds"></input><br/>').appendTo("#affixes");
                    setAutocomplete();
                });
                setTimeout(function() {
                    $("#add_affix").click();
                }, 250);
            });
        </script>
    </form>
    <hr>
    {% if search_terms %}
    Search terms: {{ search_terms }}
    {% endif %}
    {% for jewel in jewels %}
    <div class="wrapper">
        <p class="jewel">{{ jewel.name }} #{{ jewel.seed }} {{ jewel.variation }} socketed at {{ jewel.socket_id }} ({{ jewel.created }}):</p>
        <div class="first">
            <p>Added nodes:</p>
            {% for node in jewel.added_nodes %}
            <li>{{ node }}</li>
            {% endfor %}
        </div>
        <div class="second">
            <p>Summed mods:</p>
            {% for mod, val in jewel.summed.items() %}
            <li>{{ mod }}: {{ val }}</li>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
{% endblock %}